POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=financify
DATABASE_URL=postgres://postgres:postgres@database:5432/financify?schema=public

NODE_ENV=production
HOSTNAME=127.0.0.1
PORT=3000