DATABASE_URL="postgres://<user>:<password>@<host>:<port>/financify?schema=public"
JWT_SECRET="32bit-secret"
REFRESH_TOKEN_SECRET="32-bit-secret"

NODE_ENV=production
HOSTNAME=127.0.0.1
PORT=3000
AUTH_TRUST_HOST=true

REDIS_HOST=localhost
REDIS_PORT=6379