@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #101010;
  --stack: rgba(127, 127, 127, .1);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-stack: var(--stack);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #101010;
    --foreground: #ededed;
  }
}

body, html, #root {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100dvh;
  min-width: 100dvw;
  margin: 0px;
  padding: 0px;
}

::-webkit-scrollbar {
  display: none !important;
}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}